name: Deploy Flask app to Azure Web App - votacionprimarias2025

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  PYTHON_VERSION: "3.11"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # Instala dependencias dentro del paquete (carpeta que Azure reconoce)
      - name: Install dependencies into .python_packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt --target=".python_packages/lib/site-packages"

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0702C69445544F648C1E37C12F237FBB }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A46E36F70C8A4D9984EE3816A127FFB6 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7D9DF8B8FD61477190B253C152FBFA78 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "votacionprimarias2025"
          slot-name: "Production"
          package: "."
